@import "./components/banner.scss";
@import "./components/header.scss";
@import "./components/gallery.scss";
@import "./components/footer.scss";
@import "./components/cart.scss";
@import "./components/collapse.scss";
@import "./components/carrousel.scss";
@import "./components/article.scss";
@import "./components/tags.scss";
@import "./abstracts/flexBetween.scss";

* {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}
