@mixin flexCenterItems {
  display: flex;
  align-items: center;
}

@mixin flexCenterContent {
  display: flex;
  justify-content: center;
}

@mixin flex {
  display: flex;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
}

@mixin fullWidth {
  width: 100%;
}

@mixin fullHeight {
  height: 100%;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

