.collapse_container {
  @include flex;
  @include fullWidth;
  max-width: 1240px;
  gap: 76px;
}

.appartment_title {
  font-size: 36px;
  color:$color-first;
  line-height: 51.34px;
}

.appartment_location {
  font-size: 18px;
}

.rate {
  @include flex;
  margin-top: 21px;
  max-width: 196px;
  @include fullWidth;
  height: 24px;
  gap: 10px;
}
