.banner {
  @include flexCenterContent;
  @include flexCenterItems;
  @include fullWidth;
  position: relative;
  max-width: 1240px;
  height: 223px;
  margin-top: 50px;
  border-radius: 25px;
  
  img {
    @include fullHeight;
    @include fullWidth;
    border-radius: 24px;
    object-fit: cover;
    filter: brightness(30%);
  }

  h1 {
    color: $color-second;
    position: absolute;
    font-size: 48px;
    font-weight: 700;
  }
}
