.banner {
  @include flexCenterContent;
  @include flexCenterItems;
  @include fullWidth;
  position: relative;
  max-width: 1240px;
  height: 223px;
  margin-top: 50px;
  // margin-bottom: 43px;
  border-radius: 25px;

  img {
    @include fullHeight;
    @include fullWidth;
    border-radius: 24px;
    object-fit: cover;
  }

  h1 {
    color: #fff;
    position: absolute;
  }
}
