.cart {
  position: relative;
  border-radius: 10px;
  @include fullWidth;
  max-height: 340px;
  img {
    object-fit: cover;
    @include fullWidth;
    max-width: 340px;
    height: 340px;
    border-radius: 10px;
  }
  p {
    margin: 10px;
    bottom: 20px;
    left: 20px;
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
}
