.collapse {
  @include fullWidth;
  max-width: 1023px;
  margin-top: 31px;
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
  &_container {
    height: 100%;
  }

  &_header {
    @include flexBetween;
    @include flexCenterItems;
    background-color: $color-first;
    color: $color-second;
    font-weight: 700;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;

    &_button {
      background-color: $color-first;
      border: none;
      border-radius: 5px;

      &_img {
        transition: transform 0.3s ease-in-out;
        @media screen and (max-width: 768px) {
          height: 9px;
          width: 16px;
          object-fit: cover;
        }
      }

      .isOpen {
        transform: rotate(-180deg);
      }
    }

    @media screen and (max-width: 768px) {
      p {
        font-size: 13px;
      }
    }
  }

  &_content {
    height: 0;
    overflow: hidden;
    background-color: $color-third;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    transition: padding 0.2s ease;
    padding: 0 20px;
    ul {
      @include flexColumn;

      li {
        list-style: none;
        @media screen and (max-width: 768px) {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    p {
      @media screen and (max-width: 768px) {
        font-size: 12px;
        font-weight: 400;
      }
    }

    &.isOpen {
      height: auto;
      max-height: 300px;
      padding: 20px;
    }
  }
}
