footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  padding: 29px 0;
  background-color: black;
  margin-top: 50px;
  
  img {
    width: 122px;
    height: 39px;
    margin-top: 37px;
  }
  
  p {
    margin-top: 29px;
  }
}
