.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1240px;
  grid-gap: 50px 60px;
  background: #f6f6f6;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 56px;
  padding-bottom: 43px;
  margin-top: 43px;
}
