.host {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;

  &_picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  &_name {
    max-width: 70px;
    text-align: right;
    color: #ff6060;
  }
}
