.not_found {
  @include flexCenterContent;
  @include flexCenterItems;
  @include flexColumn;
  font-style: normal;
  
  h1 {
    color: $color-first;
    font-size: 288px;
    font-weight: 700;
    margin-top: 139px;
    height: 263px;
  }

  p {
    color: $color-first;
    font-size: 36px;
    font-weight: 500;
    margin-top: 139px;
  }

  a {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-top: 139px;
    margin-bottom: 89px;
  }
}
