.tags {
  display: flex;
  list-style: none;
  gap: 10px;
}
.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ff6060;
  min-width: 125px;
  height: 25px;
  border-radius: 10px;
}
